[2019-01-20 20:39] coryodaniel opened #1 "Refactor auth provider, add `supports?/1`"
* [ ] Add a callback to auth provider `support?/1` - callback should take a config and return true/false if it can support that config
* [ ] remove `nil` return options from Auth.Certificate
* [ ] refactor provider selector to check `support?`
* [ ] raise or return `{:error, :unsupported_config}`

[2019-01-20 20:48] coryodaniel opened #2 "Start cluster router w/ start_supervised for tests."
Currently a cluster router is started in test_helper and used by doctests and unit tests. I'm not sure if this is the best approach, but it works since nothing writes to the route tables after they are created.

Alternatively a named router could be started for each doc test and each unit test. With the unit tests we could use start_supervised. Not positive of best approach for starting a process

[2019-01-26 19:08] coryodaniel opened #3 "Auth behavior should allow anonymous function"
Allow an anonymous function so that auth providers that arent static can authorize per operation.

[2019-01-26 19:08] coryodaniel opened #4 "Add support for `auth-provider`"
Add support for [`auth-provider` auth](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#option-1-oidc-authenticator)

[2019-01-26 19:09] coryodaniel opened #5 "Support kube `exec` auth"
Add support for [`exec` auth](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuration)

[2019-01-26 19:12] coryodaniel opened #6 "Add'l configuration options"
Add additional configuration options to allow for compile time vs runtime configuration

* conf: :service_account
* conf_opts: []
* spec: "path/to/spec"

[2019-01-26 19:15] coryodaniel opened #7 "BYO-Resource structs"
Support for deserializing k8s responses into custom structs instead of returning maps.

Add a protocol (K8s.Resource?) with serialize/deserialize functions to be implemented by enduser resource module.

K8s.Client.run(.... into: MyDeploymentModule)

How to handle list responses? It would be burdensome to make someone define a list for each type. List responses are pretty normalized. Could maybe in

[2019-01-26 19:16] coryodaniel commented on #7
Not to be confused with kubernetes "Custom Resources"

[2019-01-26 19:17] coryodaniel opened #8 "Hex.pm add'l docs"
Add markdown pages for
* [ ] Usage
* [ ] CRD support

[2019-01-26 19:17] coryodaniel opened #9 "K8s.Client.Runner.When"
Create a when runner that dispatch is a function when a condition is met

Spawns task, runs `until` and when true | error, dispatches function

[2019-01-26 19:22] coryodaniel opened #10 "K8s.Client.WatchProxy"
Abstraction is a bit leaky streaming the httpoison responses from watch operations. It might be nice to add a "proxy" module that receives async responses and dispatches as events are received.

[code]

`MyHandlerModule` would receive `add`, `modify`, and `delete` events from the watch. This shifts a good portion of functionality from [Bonny](https://github.com/coryodaniel/bonny) to this package.

[2019-02-04 17:03] #6 closed

[2019-02-04 17:03] #2 closed

[2019-02-04 17:05] coryodaniel opened #12 "Client support for sub-resources"
Currently finalize, binding, scale, and approval subresources aren't supported in `K8s.Client`. The path module *will* generate this paths.

Adding support is a matter of:
* [x] finding a good API for setting the subresource when building a `K8s.Operation` and being able to wrap that up in the `K8s.Client`
* [x] validating a subresource is supported by a resource `{:error, :unsupported_subresource

[2019-03-10 23:25] coryodaniel opened #13 "Add K8s.Client.apply/N"
Like `kubectl apply` checks for resource and creates or updates

[2019-06-07 17:09] #4 closed

[2019-06-07 17:09] coryodaniel commented on #4
In 0.2.6

[2019-06-07 17:10] coryodaniel opened #15 "Ship a K8s.Client mock provider"
Refactor the test mock provider into lib/ and make it a bit more extendable so it easy to test libraries using k8s w/o a kubernetes cluster.

Either a mock of base.ex or http_provider.ex

[2019-06-10 21:42] coryodaniel opened #16 "Telemetry integration"
Note to self: See ballast's logging/metrics integration w/ [Notion](https://github.com/coryodaniel/notion)

[2019-06-10 22:29] coryodaniel opened #17 "Error handling in Cluster, Conf, and Discovery"
Error handling is a little rough when configuration isn't valid. Either configuration values that dont exist in `kubeconfig` or when the credentials dont have permissions.

Consider breaking cluster registration out into its own module.

[2019-06-19 12:09] Rodeoclash opened #18 "Broken links in Readme / Hexdocs"
First off, awesome library. I've been digging into it the past couple of hours and I've really enjoyed it. I'll be tearing out the jury rigged K8s API that I've made and replacing it with this.

A small note, the links to the Certificate and Token example files are broken in the readme + hex docs. I should be able to put together a PR to fix in the next few days if you'd like.

[2019-06-21 15:57] #18 closed

[2019-06-21 15:57] coryodaniel commented on #18
Thanks! Let me know if you have any questions!

[2019-06-21 16:02] coryodaniel opened #19 "Replace Discover mock provider w/ prism+swagger"
Replace testing code / Discover mock provider w/ [prism](https://github.com/stoplightio/prism) and the API version under test.

[2019-06-21 16:22] coryodaniel opened #20 "Elixir Stream type response for list operations"
For paginate API requests, it would be nice to return a [`Stream`](https://hexdocs.pm/elixir/Stream.html)

Pulled from another project I'm working on.

[code]

[2019-06-21 16:27] coryodaniel opened #21 "Rediscover interval"
Clusters are a changin'. Discovery should have a rediscover interval to detect changes to CRDs, etc.

[2019-06-24 17:17] coryodaniel commented on #20
Initial implementation added:

TODO:

* [ ] accept limit
* [ ] appease the dialyzer
* [ ] handler exceptions/errors raised inside the stream
* [ ] accept http opts in call to `Base.run/3`

[2019-06-24 17:17] #20 closed

[2019-06-24 17:22] coryodaniel opened #22 "Pass opts to Base.run in Stream module"
Currently the [Stream](https://github.com/coryodaniel/k8s/blob/master/lib/k8s/client/runner/stream.ex) runner calls `Base.run/3` with hard coded options.

It should merge in options provided by the call to `Stream.run/3`

[2019-06-24 17:22] coryodaniel opened #23 "Stream module dialyzer issues"
Dialyzer is mad.

[code]

[2019-06-24 17:36] #22 closed

[2019-06-25 20:18] coryodaniel opened #24 "K8s.Servers.Watcher module"
Behaviour / use macro for creating a watcher.

[code]

[2019-06-25 20:20] coryodaniel opened #25 "K8s.Servers.Reconciler module"
[code]

[2019-06-25 20:22] coryodaniel opened #26 "K8s.Servers.Controller module"
[code]

Shorthand for `use K8s.Servers.Watcher` and `use K8s.Servers.Reconciler`

How to handle both behaviours requiring `operation/0`?

[2019-06-25 20:25] coryodaniel opened #27 "K8s.Servers.Scheduler module"
Kubernetes scheduler server.

[code]

[2019-06-25 23:43] #27 closed

[2019-06-25 23:44] #26 closed

[2019-06-25 23:45] #25 closed

[2019-06-25 23:45] #24 closed

[2019-06-27 16:06] coryodaniel opened #28 "stream module error handling"
Errors are swallowed; return error tuple or raise exception?

Add some backoff/jitter in event of HTTP errors

https://github.com/coryodaniel/k8s/blob/5ab39d2a8934fa085fe2fe3cfd0fd9991d5d8971/lib/k8s/client/runner/stream.ex#L91

If returning an error tuple, it will need to be added to the returned state [here](https://github.com/coryodaniel/k8s/blob/5ab39d2a8934fa085fe2fe3cfd0fd9991d5d8971/lib/k8s

[2019-06-27 17:43] #28 closed

[2019-06-27 20:01] #23 closed

[2019-06-27 23:56] coryodaniel commented on #15
Toying around w [this](https://gist.github.com/coryodaniel/0b3b476b0ef20dab15e685e216acf5da) not sure if its viable to ship something similar for other libraries to use.

[2019-06-28 18:21] #15 closed

[2019-06-28 21:36] bradleyd opened #29 "Question: Running a command in a pod?"
Hi, I want to be able to run a command in a pod and this requires a websocket upgrade when using `Core.V1.connect_get_namespaced_pod_exec`. Is there any examples you can point me at ?

Thanks

[2019-06-28 23:17] #16 closed

[2019-06-29 01:15] coryodaniel commented on #29
`connect` isn't current supported :(

[2019-06-29 01:16] coryodaniel commented on #29
Definitely open to a PR, but this has been blocked behind. #12

[2019-06-29 01:20] coryodaniel commented on #29
Hacking something together may be possible with [this](https://github.com/coryodaniel/k8s/blob/master/docs/usage.md#performing-unsupported-sub-resource-operations) and [this library](https://github.com/Azolo/websockex)

If you come up with anything that could be used for `/attach` or `/exec` send me a PR <3

[2019-06-29 01:30] bradleyd commented on #29
Ok thanks.

Sent from my iPhone

[2019-06-29 04:18] coryodaniel opened #31 "Rename K8s.Conf -> K8s.Conn"
`K8s.Conf` handles configuration, connection and authentication details for a cluster by parsing a k8s config file. Name made sense, but now that there is a `K8s.Config` module for working with the config of the `k8s` library, its a little confusing.

Consider one:
- renaming `K8s.Conf` -> `K8s.Conn` to illustrate that it encapsulates the connection to a cluster
- renaming / moving `K8s.Config` to

[2019-06-29 04:52] #17 closed

[2019-07-01 16:53] coryodaniel commented on #21
- genserver for cluster registration on timer
- remove call from application start up
- add back in event to track cluster registration, currently not caught because telemetry is starting after the application?

[2019-07-02 12:04] Rodeoclash opened #32 "Patch operations fail with a 415 error"
Patch operations to the K8s API require a slightly different header from other operations, that is: `Content-Type: application/merge-patch+json`

Unless that header is present, the request will fail with: `415: Unsupported Media Type`

Further details can be found in: https://github.com/kubernetes/kubernetes/issues/61103

Looks like this fix would be located in: https://github.com/coryodaniel/k8s/

[2019-07-02 22:14] #21 closed

[2019-07-02 22:54] coryodaniel commented on #12
WIP: https://github.com/coryodaniel/k8s/pull/34

[2019-07-02 22:56] Rodeoclash commented on #29
I have used https://github.com/Azolo/websockex to consume logs from a container in Kubernetes, had some issues with the use of CA certs which I never got to the bottom of, but aside from that it works without issue.

[2019-07-02 23:20] bradleyd commented on #29
Yeah, I am running into that same issue right now =]

Sent from my iPhone

[2019-07-02 23:34] Rodeoclash commented on #29
You can construct an implementation of the WebSockex server where the `conn` struct is customised, here's a very stripped back version of what I have in my app:
[code]
Might be a useful starting point for you

[2019-07-03 02:44] bradleyd commented on #29
Thanks! I got pretty far but I think the certs are the culprit. I will keep tinkering and share what I have got. Maybe even get a PR =]

`{:error, %WebSockex.RequestError{code: 406, message: "Not Acceptable"}}`

[2019-07-03 05:01] coryodaniel commented on #29
Nice. Heads up #12 is WIP for adding sub resource support so this might time nicely for 0.3

[2019-07-03 05:08] coryodaniel commented on #32
The hard coded headers could probably be moved to K8s.Operation in a map like verbs/methods.

[2019-07-03 17:13] coryodaniel commented on #19
Spike on this: https://github.com/coryodaniel/k8s/blob/discovery-mocks-2

[2019-07-03 17:49] coryodaniel commented on #32
@Rodeoclash mind giving that a whirl?

[2019-07-03 19:00] bradleyd commented on #29
ok. Looking at why I am getting unauthorized using my certs. Something to work on over the holiday.
Thanks!

[2019-07-04 06:01] #32 closed

[2019-07-04 11:05] Rodeoclash commented on #32
@coryodaniel Hey, looks like you beat me to it! Just pulled master and it's working a charm :+1:

[2019-07-04 13:42] coryodaniel commented on #32
Woot. Hoping to cut 0.3 this weekend sometime. I’ll ping when I do.

Thanks,

Cory O’Daniel

[2019-07-10 21:38] bradleyd commented on #29
Here is a contrived example (WIP) of Pod exec working. I tried this against a local multipass microk8s cluster and our dev cluster in AWS.
I will put something more formal together after I look at #12 . I wanted to get it here in case you are further along and can use this for an example.

This is using the default config for `~/.kube/config`

[code]

[code]

[2019-07-10 22:38] coryodaniel commented on #29
That's rad, my friend.

I'm a few test cases away from finishing up the WIP referenced above. Was hoping to work on it today, but got caught up in some stuff.

This is a great start!

[2019-07-29 21:48] coryodaniel commented on #12
Closed by #34

[2019-07-29 21:48] #12 closed

[2019-07-29 22:10] coryodaniel commented on #29
Shipped v0.3 w/ support for subresources, so this should be unblocked. Sorry for the delay, life and all that jazz.

[2019-07-29 22:59] Rodeoclash commented on #29
Awesome stuff!

I've been keeping a list of things I found complicated or challenging with the implementation of your library, my intention is to (eventually!) submit a PR to your usage guide with some additions around how to do certain things. A good example is passing query params to select resources based on say a `labelSelector`. It took a bit of digging through the source to figure out that i

[2019-07-30 00:44] bradleyd commented on #29
No worries.  I have been behind as well.
Hopefully put something together soon.

Brad

Sent from my iPhone

[2019-08-02 21:27] coryodaniel commented on #7
[code]

[2019-08-13 16:47] coryodaniel opened #36 "K8s.Selector"
Add module to ease adding selectors to client operations.

[code]

This would require a `label_selector` key on the operation struct. When running an operation this would be used to build the label selector, being overwritten by any selector supplied directly to the `run/N` function

[2019-08-14 12:38] Rodeoclash commented on #29
Getting a bit of strange behaviour around consuming the sub resources, in particular getting the logs for a container in a pod. Here's a dump of the variables being passed to HTTPoison:

[code]

Picking apart the URL that's actually being passed to HTTPoison, it looks correct `https://192.168.99.108:8443/api/v1/namespaces/idfb142617986e4/pods/idfb142617986e4-6c8ccc4798-gx2cs/log?container=preview`

[2019-08-14 17:44] coryodaniel commented on #29
@Rodeoclash can you open an new issue. I think that sounds like a good solution. Do you think it shoudl return a list of lines or a blob of the whole response?

[2019-08-14 18:07] coryodaniel opened #38 "Handle text/plain HTTP responses"
See [comment](https://github.com/coryodaniel/k8s/issues/29#issuecomment-521228581).

All responses are JSON decoded, add `Content-Type` check to return plain text.

https://github.com/coryodaniel/k8s/pull/37

@Rodeoclash

[2019-08-14 23:01] Rodeoclash commented on #38
You're too fast at adding the fixes, give me a chance to submit a PR! 😀

I think returning the entire blob is fine, push the implementation on how to handle it upstream to the consumer of the library. Otherwise I think the PR looks great.

[2019-08-15 16:04] #38 closed

[2019-08-15 17:21] coryodaniel commented on #36
https://github.com/coryodaniel/k8s/pull/39

[2019-08-15 20:33] #36 closed

[2019-08-15 20:34] coryodaniel opened #40 "add field selector support to K8s.Selector"

[2019-08-21 19:20] #31 closed

[2019-09-24 18:07] coryodaniel opened #42 "Request middleware"
Support for middleware that can inspect and alter HTTP requests.

[2019-09-29 00:01] coryodaniel opened #43 "JIT API Discovery"
JIT /api and /apis discovery per [comment](https://github.com/coryodaniel/k8s/issues/43#issuecomment-542412575)

* [ ] [Timeouts](https://github.com/coryodaniel/k8s/issues/45#issuecomment-559308948)
* [x] [Decouple Auth](https://github.com/coryodaniel/k8s/issues/44#issuecomment-559308019)

*Initial thoughts*
Evaluate if there is a non-discovery route that doesn’t require codegen that allows for lo

[2019-10-11 01:05] gerred commented on #43
@coryodaniel will you flesh your thinking out for me some more? I know that's a lot to ask, but want to get to the same mental framework you're working from on this particular issue. I'd love to contribute some ideas (and hopefully code) here. I _love_ the fact that this uses discovery instead of code gen. I agree certain aspects of development become more difficult, and it would be nice to config

[2019-10-11 01:51] coryodaniel commented on #43
I haven’t really thought it through. I def don’t want to do codegen that’s was a nongoal if the project and having to compile against a swagger file _really sucks_ for distributing operators.

Discovery may be something to keep. The  current implementation has got loose bolts for sure. I added the dynamic HTTP provider to make testing a bit easier but it still bites me from time-to-time.

Would lo

[2019-10-11 01:54] gerred commented on #43
I'm in ET. On the Elixir and Kubernetes slacks, but my email is hello@gerred.org and am :+1: on talking more.

[2019-10-11 01:58] coryodaniel commented on #43
As I’m rubberducking through this I realized that maybe shipping common YAML stubs for discovery during tests might go a long way.

Maybe even breaking out a K8s.Test app that has the Discovery file driver, dynamic HTTP driver, and some named YAMLs for all supported k8s versions.

[2019-10-11 02:02] coryodaniel commented on #43
Dropping links for all the stuff I was gum-flapping about:

- [file driver](https://github.com/coryodaniel/k8s/blob/master/lib/k8s/cluster/discovery/file_driver.ex)
- [dyn http driver](https://github.com/coryodaniel/k8s/blob/master/lib/k8s/client/dynamic_http_provider.ex)
- [swaggers](https://github.com/coryodaniel/k8s/tree/master/test/support/swagger)
- [k8s internal discovery mocks](https://gith

[2019-10-11 16:16] jwietelmann commented on #43
I've been rolling my own code with HTTPoison, and I'm evaluating a switch to k8s right now. FWIW, the loose naming and ability to discover CRDs are what puts this in the running for me (while other libs are a non-starter). In case it helps, this is how I'd frame my own fundamental requirements for a k8 API lib: I want to navigate N clusters and every API and resource in them without knowing ahead

[2019-10-11 16:33] gerred commented on #43
@coryodaniel we'll need some way to generate out those golden stubs since those aren't published now except by hitting the swagger endpoint.

I like the test discovery stubs. Just dumping a few further thoughts in here. It'd be nice to be able to assert what sort of GVKs I expect. This is a bit leaky with CRD v1beta1 (now that v1 is out) given fields changed between versions, and asserting down to

[2019-10-11 18:44] coryodaniel commented on #43
@jwietelmann absolutely agree. That’s what drove me to build this library!

Thinking about it some more, kind of a duh moment. Discovery _is_ necessary because of namespaced resources.

I think the focus should be on making tests a little less bumpy.

The makefile has targets for getting swagger files. We could probably generate the discovery files for any given version.

I think that could be pre

[2019-10-14 15:27] jwietelmann opened #44 "Suggestion: Decouple the registry from auth and the client?"
The thing stopping me from using `k8s` right now is the registry. My clusters have [dex](https://github.com/dexidp/dex) for user auth, and my app gets auth tokens from there. My users do not share Kubernetes credentials when interacting with clusters; they each get their own session tokens via OAuth and use those.

If the relationship between configuration and the registry and auth were decoupled

[2019-10-14 15:39] jwietelmann commented on #44
Oh, and I do see that there is this `AuthProvider` thing, and I'm still trying to understand the code, but to be clear: I get my users' tokens via OAuth and store them in the session (this is a Phoenix app), and I'm not sure how the `AuthProvider` would ever be able to get the token out of a `Plug.Conn` that's being constructed at runtime for every HTTP request.

[2019-10-15 20:54] coryodaniel commented on #44
I think OAuth would be difficult via the auth provider...

As far as decoupling, Ive been thinking about this recently. I was considering adding a second function that takes an auth config and then have run/5 lookup configs by name and then pass them to the function that explicitly takes a config.

Related:
#42
#43

[2019-10-15 21:28] coryodaniel commented on #43
I was thinking a bit more about this, just spit balling here.

I think the work to make testing easier is def worth doing.

As far as the Discovery module, I was thinking that instead of discovery on boot up, replacing with a JIT Discovery module (and cache).

* first request is made for a given `gvk`, it is discovered and the naming options and scope are cached<sup>1</sup>
* http path is generate

[2019-11-14 21:08] Rodeoclash opened #45 "Service Discovery Timeout"
This might fall under the umbrella of https://github.com/coryodaniel/k8s/issues/43

I'm also unsure how this could actually be _fixed_ but figured I'd raise it any way and we can close the ticket if it's a problem we have to live with.

The gist of it is: https://sentry.io/share/issue/1d3b7deedd2d41c4bc9eb0b533c0fcc7/

The context is that the provider I'm using for Kubernetes (Digital Ocean) will

[2019-11-19 19:22] coryodaniel commented on #45
Ive been itching to address the discovery portion of this library. Just haven't had the time to get to it in the past few weeks. I think this ticket is valid and I think using autoretry in the JIT Discovery is a great idea.

Related: #43 #44

[2019-11-27 18:57] coryodaniel commented on #43
This will need to be integrated w/ Request middleware #42 ~`K8s.Middleware.Request.ClusterURL`

[2019-11-28 01:05] coryodaniel opened #47 "0.5 Documentation Update"
* [x] Split `USAGE.md` into multiple files, include in hex docs
* [x] Document writing Request middleware
* [x] Document registering middleware to a cluster
* [x] Document `conn` vs `:cluster` name for running operations
* [x] Document Discovery driver configuration and behaviour
* [x] https://github.com/coryodaniel/k8s/issues/51
* [x] Revisit moduledocs
* [x] Replace @docs w/ doctests where possi

[2019-11-28 01:06] coryodaniel opened #48 "Response middleware"
A lot of the middleware functionality has been developed and stubbed already. Should be straight forward to integrate.

See Feature #46
See Issue #42

[2019-11-28 01:32] #42 closed

[2019-11-28 01:44] coryodaniel commented on #44
Beginning JIT refactoring this weekend. Recapping on this just to make sure I incorporate it.

_Support for overriding the auth for a cluster at request time._

1. Cluster's auth would be optional, currently no config, means use pod service account. I think that is fine to leave as a default, such that its not a breaking change
2. Accept an additional `opt` on `run/N` that overrides the auth that

[2019-11-28 01:50] coryodaniel commented on #45
Recapping on this as I'm starting the refactoring of Discovery this weekend.

* [ ] Add option to `k8s` config for max retries for Discovery requests
* [ ] Add option to `run/N` for setting max retries for a resource request
* [ ] Consider custom retry impl to allow for jitter on retry v. fixed wait (as below)

**Config example:**
[code]

**HTTPoison retry example:**

[code]

[2019-11-28 08:50] Rodeoclash commented on #45
That seems very reasonable. Retries for individual requests via `run` may already be accessible via the options pass-thru to HTTPoison (if I'm remembering correctly!)

Weirdly enough, I haven't seen this error occur for quite some time. Perhaps DO have mitigated whatever the issue was that caused the problem in the first place.

[2019-12-02 22:06] coryodaniel opened #50 "Replace 'docker-for-desktop' context"
* [ ] Change dev config to target `k8s-elixir-client` as a kube context instead of `docker-for-desktop`
* [ ] update contribution docs for how to set up dev/testing

[2019-12-02 23:50] coryodaniel commented on #44
@jwietelmann I'm working on the JIT stuff and I plan to incorporate ad-hoc `conn`ections instead of always using a cluster name atom.

I figured Id share some details on implementing an a custom auth strategy.

A few notes first:
1. [`AuthProvider`](https://github.com/coryodaniel/k8s/blob/master/lib/k8s/conn/auth/auth_provider.ex) is itself an authentication strategy that allow shell calls to prov

[2019-12-02 23:51] coryodaniel opened #51 "Provide better documentation for Conn's and custom Auth"
Notes [here](https://github.com/coryodaniel/k8s/issues/44#issuecomment-560933392) are the gist of it.

[2019-12-04 22:24] coryodaniel opened #52 "Comprehensive testing of path generation"
Originally k8s used property testing to test against all versions of kubernetes that had a swagger file under ./test/support. I think we can forgo testing against the swagger files and using property testing and simply test against a few cases.

- [x] Deployment resource REST methods
- [x] a CRD resource REST methods
- [x] Namespaced, Cluster scoped, and _all namespaces_ operations
- [ ] Subresour

[2019-12-06 16:06] bforchhammer commented on #5
Hey, thanks your work on the k8s library!

For what it's worth, I've drafted an implementation for exec auth: https://gist.github.com/bforchhammer/b2a22caef43e7426e041f94a6655b552

It's not a complete implementation, but works with the `aws-iam-authenticator` and an EKS cluster :)

[2019-12-06 16:45] coryodaniel commented on #5
Nice! How was working with the behavior and protocol for adding auth?

You should submit it as a PR it’s better to have support some support for it!

Thanks,

Cory O’Daniel

[2019-12-07 01:14] coryodaniel opened #53 "JIT HTTP Caching"
Cheaped out and skipped caching for the HTTP Provider. _Importante_

[2019-12-07 01:37] coryodaniel commented on #52
[code]

[2019-12-07 02:06] coryodaniel opened #54 "K8s.Conn atomizes cluster names"
Currently cluster names are atomized in `K8s.Conn`. While this isn't a big deal for most use cases, in the event that _many_ different cluster names are used, could lead to bloating the atom table.

Cluster names where originally atoms when they behaved like atoms. They were used as a reference to look up cluster connection details. Now that `k8s` is connection-oriented, the cluster name is only u

[2019-12-07 02:18] coryodaniel opened #55 "Validate Conn.from_service_account/0 in cluster"
Create a bonny 0.5 rc and validate w/ [eviction operator](https://github.com/bonny-k8s/eviction_operator)

[2019-12-07 02:19] #43 closed

[2019-12-07 02:19] #44 closed

[2019-12-07 03:20] coryodaniel opened #56 "Remove support for config.exs and env var config"
Remove support for config.exs cluster configuration and env vars. Direct users to use `K8s.Conn.from_file/2` and `K8s.Conn.from_service_account/1`.

Extract env parsing to external library.

[2019-12-07 03:23] #19 closed

[2019-12-07 03:25] coryodaniel commented on #7
This should be included in a response middleware and not an :into type syntax.

[code]

[2019-12-13 02:10] #51 closed

[2019-12-13 02:11] coryodaniel commented on #47
* [Local Development and Testing](./testing.md)
* README highlevel usage docs.

[2019-12-13 02:14] coryodaniel commented on #47
* advanced

[code]

## Multiple Clusters

Copying a workloads between two clusters:

Register a staging cluster:

[code]

Register a prod cluster:

[code]

Get a list of all deployments in the `default` prod namespace:

[code]

Map the deployments to operations and async create on staging:

[code]

## Adding Authorization Providers

[code]

Providers are checked in order, the first to return an au

[2019-12-13 16:08] wardenlym opened #58 "Support retry_on_conflict for update api"
Since almost all correctly update usage should check 'object conflict failure' and retry to get & update again,  hope there will be an option or new function for supporting retry/update patten.

[2019-12-20 20:29] coryodaniel commented on #58
I'm not sure I follow, is `retry_on_conflict` a query string param that the kubernetes client understands or are you suggesting when getting a 409 to auto retry the request?

[2019-12-23 13:11] #58 closed

[2020-02-12 21:50] jadencodes opened #62 "Watch times out after 5 seconds"
I spawn a genserver to listen for pod create/delete events like this:
[code]

It works great for the first 5 seconds, but then throws this:
```14:40:36.664 [debug] Got info: %HTTPoison.Error{id: #Reference<0.593330850.2224553994.255733>, reason: {:closed, :timeout}}```

I'm not sure if I'm using the watch functionality incorrectly, or if this is a bug. I have run it both internally and externally

[2020-02-12 22:08] coryodaniel commented on #62
You should be able to set the timeout. This is how I do it in [bonny](https://github.com/coryodaniel/bonny/blob/master/lib/bonny/server/watcher.ex#L163)

[2020-02-12 22:08] coryodaniel commented on #62
Let me know if this persists!

[2020-02-12 22:27] jadencodes commented on #62
Ah thank you! Is there a problem with setting it to infinity? I think I'm missing what the use case would be for setting a shortish watch unless it was attempting to do what `wait` is doing.

[2020-02-12 22:28] jadencodes commented on #62
FWIW I am using Bonny but a bit confused on where to use the Bonny lib vs this one. I would like to just watch the pods of my deployment (I need the cluster IP's of them when they go down/up) so perhaps using a controller on the Pod resource is better?

[2020-02-12 23:54] coryodaniel commented on #62
Im not sure what HTTPoison will do if its set to infinity, but that would try to keep an HTTP long polling request open forever, so it could get flakey.

Bonny is (currently) for creating operators... you can abuse it to get a better watcher though. You have three options:

1. You could use bonny and make an operator and set the controller to look for pods, you would just need to remove the CRD st

[2020-02-13 06:13] #47 closed

[2020-02-13 06:15] #62 closed

[2020-02-13 14:55] coryodaniel commented on #44
This was released in 0.5 @jwietelmann

[2020-02-13 14:59] coryodaniel commented on #62
There is an example of monitoring deployments [here](https://github.com/coryodaniel/bonny/blob/master/examples/deployment_event_log_controller.ex). I still suggest option 2 above.

[2020-02-13 15:17] #45 closed

[2020-02-13 17:14] jadencodes commented on #62
@coryodaniel thank you for the options! I had sort of stumbled into option 2 but was having problems and started going down option 1. I will look back into it today because that is what you recommend. Thanks for all your help! I may open a PR with some examples for watcher if I get it working sufficiently.

[2020-02-14 05:08] coryodaniel opened #64 "Add a configuration example for 0.5 to the README"
The README has some basic usage, but no configuration example.

[2020-02-14 06:39] #55 closed

[2020-03-16 15:57] jwietelmann opened #65 "`Client` functions that take a `%K8s.Conn{}` still refer to that param as `cluster_name`"
For example, this should be `run(operation, conn)` instead:

https://hexdocs.pm/k8s/K8s.Client.html#run/2

[2020-03-16 17:19] jwietelmann opened #66 "`%Operation{}` should include query params"
It seems to me that it is strange for the struct to encapsulate body data but not query params. Not sure if you have a reason for doing what you're currently doing, but I would think it would make more sense for `%Operation{}` to be a complete specification of the request that you're about to make.

My app (that I'm trying to port to use `k8s`) uses Dex to get tokens via oauth2. Consider the case

[2020-03-16 17:26] jwietelmann opened #67 "Nitpick: Shouldn't the `conn` argument come first, for every function that uses it?"
Stylistically, I think the API might flow/read better if you could write this:

[code]

[2020-03-25 00:13] coryodaniel commented on #66
Only because I haven’t needed params yet in my own apps. I’ll add this to the 0.5.1 milestone.

A bit backed up w the apocalypse...

[2020-03-25 00:14] coryodaniel commented on #65
If you have time to submit a PR I can merge it and update the hex docs for now!

[2020-03-25 00:16] coryodaniel commented on #67
I bikeshedded in this. It’s a leftover from having a ‘:default’ cluster so you didn’t have to specify the name.

I’ll see if I can play w pattern matching to get this into 0.5.1 w backwards compatibility for how it currently works

[2020-04-06 15:47] bradleyd commented on #29
FWIW here is a first pass at adding this. [PR](https://github.com/coryodaniel/k8s/pull/68)

[2020-04-18 18:44] coryodaniel opened #69 "Integration tests against a real cluster"
Include additional tagged tests to run a full set of operations (similar to #52) against a real cluster.

Include links to setting up k3s, docker-for-desktop k8s, etc.

[2020-04-20 14:36] coryodaniel opened #70 "Deprecate requiring cluster_name when creating a connection from a service account"
I'm considering deprecating taking the `cluster_name` when creating a `K8s.Conn` from a service account, and instead using a default cluster name `:cluster.local`. (from_service_account/1, from_service_account/2).

The only places that cluster_name is still referenced are:

* configuration / lookup
* registering middleware
* creating connections from service accounts

The reason it is required whe

[2020-04-20 14:37] coryodaniel commented on #70
@jwietelmann would love your feedback, I know you've been doing some stuff w/ multi-tenant.

[2020-04-20 14:40] coryodaniel opened #71 "Use github actions for code coverage"
Some actions are already configured. Id like to move to using GA for coverage as well.

[2020-04-20 14:55] #65 closed

[2020-04-20 17:54] coryodaniel opened #73 "Remove accepting params to run/N"
`opts` will need to be kept to pass in certain options to the HTTP provider.

* Query params were moved to operations in 0.5.1 and deprecated as an option to runners.
* `stream_to` for watch is an example of where this doesn't back-out to `Operation.query_params` well...
* Middleware will need to separate the concept of adapter options and HTTP params.
* `opts` and `query_params` should be treated

[2020-04-20 19:38] #66 closed

[2020-04-20 21:18] #64 closed

[2020-04-20 23:10] coryodaniel commented on #67
This was getting dark, going to target 1.0 which I plan to start to work on after this last issue in [0.5.1](https://github.com/coryodaniel/k8s/milestone/3)

[2020-04-20 23:46] coryodaniel opened #75 "Discovery and Operation refer to k8s "action" as "verb""
This is legacy from the old discovery process. Kubernetes has `x-kubernetes-action` defined in the swagger.

The term `verb` in Discovery and Operation is muddied w/ HTTP verbs. Verb, when referring to `x-kubernetes-action` should be renamed to `action`(?).

[2020-04-21 04:08] coryodaniel commented on #75
Closing, internally to Kubernetes its referred to as a [verb](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#determine-the-request-verb)

[2020-04-21 04:08] #75 closed

[2020-07-21 23:14] shanesveller commented on #10
Given the statefulness of the watch API concepts, such as tracking `resourceVersion` and resuming from there after a timeout, I think a [gen_statem](https://erlang.org/doc/design_principles/statem.html)-based state machine is probably a very good fit.

I have a clean-room hobby project that does this using Mint to also eliminate the separate-process abstraction of HTTPoison/Hackney connection pool

[2020-07-21 23:23] shanesveller commented on #53
In Go SDKs and the `kube` Rust crate there are concepts called Informers and Reflectors. IIUC Informers are sort of a once-per-controller feed of changes to a certain resource type that various components react to through subscription. Reflectors are a sort of read-through hot cache that stores a local copy of the full list of a resource type, will answer queries from that, and can refresh on dema

[2020-07-22 07:12] bforchhammer opened #85 "Add certificate support to K8s.Conn.Auth.Exec"
Split from #5 and https://github.com/coryodaniel/k8s/pull/83.

To be feature complete, the exec auth plugin should support `clientCertificateData` and `clientKeyData`.

[2020-07-31 22:06] #71 closed

[2020-07-31 22:08] #5 closed

[2020-08-04 23:29] coryodaniel opened #89 "K8s.Conn.find_by_name/3 should return :ok or :error"
If the kube config file does not have a context, user, or cluster as named in a config exs file, an exception is raised.

Instead `K8s.Conn.find_by_name/3` should return `{:ok, item}` or `{:error, _}` explaining the missing config.

K8s.Conn.from_file/2 will need to handle this error or raise with a helpful message.

[2020-08-05 00:22] coryodaniel opened #90 "Create operations return :not_found when namespace doesnt exist"
Error message when a namespace does not exist is not exactly helpful... Need to parse HTTPoison error response and give a better error reason.

[code]

[2020-08-05 01:06] #69 closed

[2020-08-05 02:56] coryodaniel commented on #56
All cluster configuration options should be accessible from environment variables.

[code]

[code]

[2020-08-05 18:23] coryodaniel opened #91 "Update guides w/ changes."
* [x] Update guides with API changes
* [ ] Update README w/ API changes and examples

[2020-08-05 19:08] #54 closed

[2020-08-07 03:41] coryodaniel opened #92 "Move middleware to Conn"
Middleware previously depending on registered clusters so that clusters could be configured from config.exs. This has been removed. Middleware stacks should now be a part of the operation or conn (TBD). When a middleware stack isn't present a default one should be used (the current default).

[2020-10-15 03:01] sleipnir opened #94 "Example of access/read configmaps"
Is it possible to read the settings of a configmap? If so, is there an example? If not, would it be possible to add this feature?

[2020-10-23 14:35] sleipnir commented on #94
Hello friends! Any comment about it?

[2020-11-10 17:22] coryodaniel commented on #94
Yes, all resource types are supported.

[Listing a resource](https://github.com/coryodaniel/k8s/blob/develop/guides/operations.md#listing-deployments)

[Getting a resource](https://github.com/coryodaniel/k8s/blob/develop/guides/operations.md#getting-a-deployment)

Replace the deployment api/kind w/ ConfigMap.

[2020-11-10 17:22] #94 closed, assigned to nobody

[2020-11-10 18:32] coryodaniel opened #95 "Better observability"
* [x] remove notion, replace telemetry
* [x] add open telemetry API for tracing
* [x] structured logs + a `library: :k8s` so users can filter logs

[2020-11-10 18:35] coryodaniel commented on #70
Deciding to leave this in, there is no harm.

[2020-11-10 18:35] #70 closed

[2020-11-10 18:40] coryodaniel commented on #67
@mruoss What are your thoughts on this? Trying to get the 1.0 out this week!

[2020-11-10 19:05] mruoss commented on #67
Hmm... I've been using k8s and bonny with a single (:default) connection and it felt right to pipe operations into Client.run(:default). While I see this being handy in other use cases, I never missed the API with cluster/conn being the first argument. It might be possible to support both version by fiddling with pattern matching - but you'd have to maintain both, so...

[2020-11-10 19:05] mruoss commented on #67
Excited to hear!

[2020-11-10 19:16] sleipnir commented on #94
Thanks @coryodaniel

[2020-11-10 19:35] coryodaniel commented on #67
Yeah I tried to make it backwards compatible and support both but it was getting pretty messy.

Ah you are still using `:default`, what version are you on?

[2020-11-10 19:48] #67 closed

[2020-11-10 20:06] mruoss commented on #67
Well, [ask bonny](https://github.com/coryodaniel/bonny/blob/master/mix.exs)! ;)

[2020-11-10 23:00] coryodaniel commented on #89
K8s.Conn.from_service_account/N should return ok/error tuple as well.

[2020-11-10 23:02] coryodaniel commented on #89
`config_to_conn`

[2020-11-10 23:47] coryodaniel opened #97 "PKI and dependents (Auth.Certificate) error handling"
Currently the PKI module will implode if a file isn't found. Need to return `{:ok, cert} | {:error, atom()}`...

This will cause some refactoring in dependent modules as well :(

[2020-11-11 04:23] #52 closed

[2020-11-11 04:23] coryodaniel commented on #52
Added in release/1.0.0

[2020-11-11 04:24] coryodaniel commented on #52
`K8s.ClientIntegrationTest`

[2020-11-12 17:27] #89 closed, assigned to coryodaniel

[2020-11-12 18:29] #50 closed

[2020-11-12 18:30] #90 closed, assigned to coryodaniel

[2020-11-12 19:33] coryodaniel commented on #73
Consider adding integration tests to:

* Wait
* Watch
* Stream
* Async

[2020-11-13 17:48] coryodaniel opened #100 "Better error formatting"
Better error formatting

`{:error, {:not_found, {'namespace does not exist', 'default'}}}`

[2020-11-26 16:59] darrenclark opened #102 "K8s.Client.create - support generateName ?"
It'd be nice if `K8s.Client.create/1` supported [`generateName`](https://kubernetes.io/docs/reference/using-api/api-concepts/#generated-values).  In particular, I'm using `k8s` for creating jobs, i.e.:

[code]

[The pattern matching here prevents this from working](https://github.com/coryodaniel/k8s/blob/cfa6c953aa7fbe6cb328acd0c576b79636007dc7/lib/k8s/client.ex#L261-L277)

I've got a workaround f

[2020-12-08 03:23] coryodaniel commented on #102
I’d say that’s a bug! I can cut a release this weekend if you can send over a PR.

[2020-12-11 21:22] #102 closed, assigned to nobody

[2021-01-07 21:16] fridayy commented on #100
Hi @coryodaniel, first of all thanks for this great lib it already served me well in a personal project. I'd love to contribute and help if I may (I'm no elixir expert tho).

I played around a bit with the response handling part in `K8s.Client.HTTPProvider`:

[code]

I think one must differentiate between error responses produced by the k8s API and 'ordinary' http errors. The latter being more the

[2021-04-06 20:45] alexgleason commented on #62
I'm really struggling to make it work with K8s.Client.run:

[code]

It keeps lasting 5 seconds.

[2021-04-06 21:29] coryodaniel commented on #62
Is this for a watch request?

[2021-04-06 21:51] alexgleason commented on #62
No it's just a regular run command, but I commented here cuz it seemed related.

[2021-04-06 22:46] coryodaniel commented on #62
Can you open a new issue w/ k8s.ex version info and kubernetes version info?

Also, maybe runnable example using a basic nginx pod and the request you’re running.

I’ll have some time this weekend I can look over it.

Thanks,

Cory O’Daniel

[2021-04-09 20:53] coryodaniel opened #107 "Integration tests for runners"
* [x] Wait
* [x] Async
* [x] Stream
* [x] Watch

[2021-04-09 21:53] #73 closed

[2021-04-09 23:50] #56 closed

[2021-04-22 20:58] Trojan295 opened #110 "Dialyzer error on operation with label selector"
Hello,

I have the following code:
[code]

It works fine, as the label function return the `K8s.Operation` struct with the label selector set, but Dialyzer complains, that the `K8s.Client.run` will not succeed, because based on the specifications, `K8s.Selector.label` returns a `K8s.Selector` struct and not `K8s.Operation`.

[code]

Looks the `@spec` annotations for `K8s.Select.label` have to be f

[2021-04-23 15:18] coryodaniel commented on #100
Just getting around to this 😓!

this is good feedback!

I think there are two or three classes of errors:
- invalid operations (could probably use some validation logic on operations)
- kubernetes  4xx/5xx
- k8s.ex internals (not sure if there would be any w good validation)

I was planning to define an error module for each class of error w a struct w details so all error signatures would be {:er

[2021-04-29 19:49] coryodaniel commented on #110
I think this should fix the issue, could you give it a spin? https://github.com/coryodaniel/k8s/pull/111

[2021-05-03 22:44] #110 closed, assigned to coryodaniel

[2021-05-03 23:09] #91 closed, assigned to nobody

[2021-05-03 23:09] #92 closed, assigned to coryodaniel

[2021-05-04 08:10] #107 closed, assigned to coryodaniel

[2021-05-04 18:37] coryodaniel opened #114 "Consistent logging w/ attr for filtering"

[2021-05-19 21:04] #97 closed, assigned to coryodaniel

[2021-07-20 00:12] #100 closed, assigned to nobody

[2021-09-11 17:00] linkdd opened #119 "Dialyzer errors with K8s.Client functions"
# K8s.Client.watch/3

3rd argument expects `keyword(atom())` but not every options are an atom.

[code]

# K8s.Client.wait_until/3

3rd argument expects `keyword(atom())` but not every options are an atom.

[code]

[2021-10-10 11:47] mruoss commented on #10
@coryodaniel in your example the processing of the events happens in the watcher process. I think I would keep the inter-process communication. But instead of sending chunks, I'd send messages with whole events to the process defined in a `send_events_to` option. Or parameter. Maybe this should be explicit and not default to `self()`.

[2021-10-11 18:36] mruoss commented on #10
Not sure anymore a "WatchProxy" is the right approach. Shouldn't this actually return a stream? I mean, that's what a watcher produces, no? A stream of events... No need to pass the `watch_count` as you can just `Stream.take()` as many events as you like...

[code]

[2021-10-11 20:32] coryodaniel commented on #10
The name isn’t great, but it will need to encapsulate the changing resourceVersion and to assemble the chunks coming back from the API.

https://github.com/coryodaniel/bonny/blob/master/lib/bonny/server/watcher/response_buffer.ex

[2021-10-12 19:43] mruoss commented on #10
I was not nit-picking on the name there. I just thought the watcher should return a stream. Have a look at the PR. The handling of resourceVersion and chunks can be done in the implementation of Stream.resource().

[2021-11-16 17:00] ghost opened #122 "Watching jobs in a specific namespace"
Hi, I'm not sure if I'm doing something wrong or if there's an issue but here's the problem I'm facing. I have jobs created in a namespace called `tasks`. Following the security principle of least privilege, I give my application permission to interact with jobs only in that namespace.  I try to watch them with code like this:

[code]
But I receive these messages back:

`%HTTPoison.AsyncChunk{
  c

[2021-11-19 14:56] mruoss commented on #122
This is caused by [K8s.Client.Runner.Watch.get_to_list/1](https://github.com/coryodaniel/k8s/blob/develop/lib/k8s/client/runner/watch.ex#L103) where the `:path_params` (which hold the namespace) are emptied. Not sure why this is done. @coryodaniel is it really necessary for `get_to_list/1` to be so complex? Can't it just change the `verb` of the operation to `:list`?

Anyway @amarandon you could t

[2021-11-19 16:03] coryodaniel commented on #122
I don’t recall why it’s “cleared out” maybe it was that the value was
coming in as nil and I set it to an empty list?

If you copy the params does it break any tests?

[2021-11-19 16:20] mruoss commented on #122
Found [this](https://github.com/coryodaniel/k8s/blob/861b4e311fcd77992e5f3489533145f342950760/lib/k8s/client/runner/watch.ex#L43) in the dungeons - still not sure why though...

I removed the whole function `get_to_list/1` and changed the run for GET to

[code]

=> all tests still green... (?)

[2021-11-19 16:46] coryodaniel commented on #122
I’m not sure if the Watch API has changed, but previously you couldn’t watch a single resource, you had to watch a list and filter it.

https://github.com/kubernetes/kubernetes/issues/43299

[2021-11-20 08:19] mruoss commented on #122
Reading the [Kubernetes API Concepts Docs](https://kubernetes.io/docs/reference/using-api/api-concepts/), I'd say this must have changed.

and

Or am I misinterpreting it? Guess I'll have to make a few test requests...

[2021-11-20 16:24] coryodaniel commented on #122
It doesn’t sound like you are misinterpreting, but I haven’t worked with
this API directly since I wrote this function.

I’d say we need a test to validate - if you look at the Makefile we can run
“integration” tests against an actual k3d cluster.

This would have to be a minor release because it would be a breaking change
for older clusters.

[2021-11-22 08:05] mruoss commented on #122
I think I am indeed misinterpreting the text. Also the issue you linked speaks that language. I did not run integration tests but just tried to watch a single resource. The server would return immediately, ignoring my `?watch` query parameter.

[code]

returns immediately:
[code]

And now, thinking about it, this makes sense. Imagine the resource does not exist the moment you start watching. You w

[2021-11-22 12:07] ghost commented on #122
@mruoss Yes using `K8s.Client.list` directly works. I've also tested your commit and it works for my use case!

[2021-11-22 12:11] mruoss commented on #122
If you're using `K8s.Client.list` directly, just like I proposed, you're probably watching ALL the jobs in that namespace. When a [list operation is turned into a path for the request](https://github.com/coryodaniel/k8s/blob/develop/lib/k8s/operation/path.ex#L191), the name is ignored.

In order to only watch the one with the given name, you'd have to pass the `fieldSelector: "metadata.name=#{name

[2021-11-22 13:14] ghost commented on #122
@mruoss Many thanks for the detailed info. For now I was going to pin the version to your commit that addresses the issue in `get_to_list/1` until the next release.

[2021-12-14 17:04] #122 closed, assigned to nobody

[2022-01-25 11:37] Cgboal commented on #119
Would changing this to `Keyword.t(any())` be appropriate? Happy to put in a PR.

[2022-01-31 16:16] #13 closed

[2022-01-31 16:36] linkdd commented on #119
Having written my fair share of TypeScript and some Rust, using `any` seems like a red-flag for me.

I would do something like:

[code]

[2022-02-01 07:42] mruoss commented on #119
In order to fix the issue at hand, I would go for `keyword()`.

Typespecs could be optimised as proposed by @linkdd. I don't see it being straight forward in this case as the opts are forwarded to other modules which makes them hard to define. So in order to get the issue fixed sooner rather than later, I would "outscope" typespec optimisation.

[2022-02-01 12:28] #119 closed, assigned to coryodaniel

[2022-02-15 09:51] #10 closed

[2022-02-16 09:58] mruoss commented on #95
absolutely!

YES! But maybe as a separate module? Some might want opentelemetry, others spandex,...

I think log formatting is up to the application, not the library. But adding default metadata for sure.

[2022-02-16 16:28] mruoss commented on #95
Or optional dependency...

[2022-02-18 07:51] #95 closed, assigned to nobody

[2022-02-22 16:20] mruoss opened #137 "Wrong exception raised by K8s.Resource.from_file!/2"
When called passing a path to an inexistent file, `K8s.Resource.from_file!/2` raises an `UndefinedFunctionError` instead of the expected `File.Error`:

[code]

Reason: File.read/2 returns `{:error, :enoent}`

----

A failing test would look like this:

[code]

[2022-02-28 15:29] ghost opened #141 "expected a keyword list as the second argument, got: [{:Accept, "application/json"}, {"Authorization", "Bearer [...]"}]"
I'm trying version 1.1.0 and getting this error with code that used to work on 1.0.0:

    ** (ArgumentError) expected a keyword list as the second argument, got: [{:Accept, "application/json"}, {"Authorization", "Bearer [...]"}]
        (elixir 1.12.0) lib/keyword.ex:786: Keyword.merge/2
        (k8s 1.1.0) lib/k8s/middleware/request/initialize.ex:12: K8s.Middleware.Request.Initialize.call/1

[2022-03-07 12:17] #137 closed, assigned to nobody

[2022-03-12 14:23] ebengt opened #145 "Surprising result when watching a resource"
Greetings,

Erlang/OTP 24 [erts-12.3]
Interactive Elixir (1.12.3)
Documentation (K8s 1.1.0) make me think that for watch/3 current resource version will be looked up automatically.
What am I doing wrong?

More information: When I get the confingmap directly `K8s.Client.run(connection, get_configmap)` it has
           <<"resourceVersion">> => <<"153760003">>,
Is there anther way to get the current

[2022-03-13 12:27] mruoss commented on #145
Hi @ebengt

This should indeed be handled better by the library! However, I think this case boils down to a basic misunderstanding of the Kubernetes watch API. While working on #121, I had to read [the api concepts](https://kubernetes.io/docs/reference/using-api/api-concepts/) up and down to figure out that you can't watch a single resource. Instead you can only watch a list of resources. E.g. if

[2022-03-13 12:43] ebengt commented on #145
I am sorry. I do not know the API. I will try with a list instead.

[2022-03-13 12:46] mruoss commented on #145
Actually I think the lib does the right thing and it should work even for a single resource. (The lib turns the **get** to a **list** operation and uses a field selector to "filter" the resources by name. I'm not sure why it's not working in your case. But your issue led me to a bug in `watch_and_stream` (which is the same as `watch` but returns an Elixir Stream)

[2022-03-13 13:04] mruoss commented on #145
You can try the following with the latest commit on the develop branch:

[code]

[2022-03-13 13:38] ebengt commented on #145
Thank you very much such a quick update.
Would it be possible, for the sake of education, if I asked a follow-up to my original question? New code:
[code]
I get a steady printout from loop_receive of: {closed,timeout}
Even if I change a config map in namespace x there are only timeout.
Perhaps I am making another simple mistake?

[code]

[2022-03-13 13:41] mruoss commented on #145
Watch requests do time out. It is expected and should be handled by your `loop_receive` method. It should resume the watch.

You can see an example in the [implementation of `watch_and_stream`](https://github.com/coryodaniel/k8s/blob/develop/lib/k8s/client/runner/watch/stream.ex#L121)

[2022-03-13 13:44] #141 closed, assigned to nobody

[2022-03-13 14:12] ebengt commented on #145
Thank you. Please let me expand my question to:
What is wrong with the way my code tries to handle timeout? I repeat the call to watch/3.
watch_and_stream adds a resource version to  call  watch/4
When I do that I get `too old resource version: 154703519 (154705821)"`
It is the resource version of the config map that I add.

[2022-03-13 16:50] mruoss commented on #145
You want to keep track of the resource version in order to not miss events that occur between a timeout and a restart of the watch. Exmple:

* start watching, resource version (rv) is 1
* resource is updated => rv is 2
* watch times out
* resource is updated => rv is 3
* watch resumes (gets current rv which is now 3. The update 2 => 3 was missed)

One more thing: The ConfigMap has a resource versi

[2022-03-13 19:35] mruoss commented on #145
Closing this issue. Let me know if it's still unclear. Also if you don't mind me asking @ebengt: Why don't you just use the `watch_and_stream` functionality?

[2022-03-13 20:08] mruoss commented on #114
Closed by #128

[2022-03-13 20:08] #114 closed, assigned to nobody

[2022-03-24 05:41] linkdd opened #149 "Timeout instead of reference when watching a specific resource"
Hello,

I've been having some trouble using the `K8s.Client.watch` function:

[code]

But instead of receiving: `{:ok, ref}`
I receive: `{:error, %HTTPoison.Error{id: nil, reason: :timeout}}`

As if the runner does not perform an async request.
For what it's worth, using `K8s.Client.run(conn, operation)` returns the error as well.

But using `kubectl get pipelinerun` works fine.

I get this behavi

[2022-03-24 06:58] mruoss commented on #149
Please read thorough #145, especially the lower part (https://github.com/coryodaniel/k8s/issues/145#issuecomment-1066104836). Does it answer the question?

[2022-03-24 08:08] linkdd commented on #149
No it does not. I expect the timeout to be received as a message in the process mailbox, not as a direct return value of the watch function.

I call this watch function within a GenServer and use the `handle_info` function to process correctly the events and the timeouts as well  This works fine for 3 CRDs.

But for the PipelineRun resources, instead of returning a reference and sending the timeou

[2022-03-24 08:15] mruoss commented on #149
Oh I see.

[2022-03-29 09:56] ebengt opened #152 "What is a good way to watch a resource?"
Greetings,

I have K8s 1.1.4.
Erlang/OTP 24 [erts-12.3]
Interactive Elixir (1.12.3)
After the problems described in (https://github.com/coryodaniel/k8s/issues/145) I switched to watch_and_stream/1. It works, but I am probably doing it wrong.

gen_server init/1 code:
[code]
?MODULE:response will cast the response to the gen_server that does the right thing.
This works, but once every hour the linke

[2022-03-29 11:14] mruoss commented on #152
The way I'm using `K8s.Client.watch_and_stream` in bonny is by adding it to the supervisor tree. Have a look at the following files (hope this helps):

* [`Bonny.Server.AsyncStreamRunner`](https://github.com/coryodaniel/bonny/blob/master/lib/bonny/server/async_stream_runner.ex)
* Where I use it: https://github.com/coryodaniel/bonny/blob/master/lib/bonny/controller.ex#L59

I'm actually running this

[2022-03-29 11:24] ebengt commented on #152
Thank you.
This means  watch_and_stream/1 is supposed to end and Stream.run/1 will return.
Can I find out more about when/how this ending is supposed to take place?

[2022-03-29 11:40] mruoss commented on #152
In theory it's not supposed to end. However, if k8s sends something the stream resource can't deal with, there's nothing it can do so it ends the stream.

Lookout for `{:halt, nil}` in
https://github.com/coryodaniel/k8s/blob/develop/lib/k8s/client/runner/watch/stream.ex

I don't know what leads to the stream ending in your case, though.

[2022-03-29 12:57] linkdd commented on #149
Any ideas on why this happen, or recommandations on how to avoid it?

[2022-03-30 12:02] mruoss commented on #149
No I really have no idea why this is happening. It is the API server that returns a timeout. I'd expect the answer somewhere in your cluster.

See if this command gives you the resource version of the list resource (using jq to remove verbose list of items, but you can skip that if you want):

[code]

[2022-03-31 16:47] linkdd commented on #149
Ok the problem was indeed on my end.

FYI, I'm developing a Kubernetes Operator, [Kubirds](https://kubirds.com).

It provides some CRDs, especially the `Unit` CRD which creates a `PipelineRun` resource (from [Tekton](https://tekton.dev)) according to a schedule (every 5 minutes in our case).

The `Unit` resource has  an optional field: `history` which tells our operator how many `PipelineRun` we w

[2022-03-31 20:21] linkdd commented on #149
Yup, the fix is up and running, and the huge number of resource has been deleted, no more timeouts now. Closing this ticket.

Thank you for your time :)

[2022-03-31 20:21] #149 closed, assigned to nobody

[2022-04-01 09:18] ebengt commented on #152
My gen_server is now expecting {'EXIT',Pid,normal} when Stream.run/1 returns.
It seems to work.

[2022-04-01 09:18] #152 closed, assigned to nobody

[2022-04-03 11:52] ebengt opened #153 "How can I make hackney temporarily ignore that a watching process exit?"
Greetings,

I am running  watch_and_stream/3(*) in a process. The automatic restart works for a while. About once per 90 minutes Stream.run/1 returns. The process exit, and I spawn a new to keep watching.
When the process exit I get many (>20) error logs from Hackney(**).
Is there a way to tell Hackney to not log this as an error? The process exit intentionally, during the circumstances this is to

[2022-05-05 14:01] ghost commented on #145
Hello, sorry to comment on a closed issue but I've been struggling for days to watch job resources reliably and I was hoping to get some light here :)

As I understand it `K8s.Client.watch` does not and is not meant to handle any kind of disconnection. So when getting an `AsyncEnd` event on a job watch, I close the hackney connection and initiate a new request. Then I sometimes get the error _too

[2022-05-05 14:10] ebengt commented on #145
Greetings,

Yes, I changed to watch_and_stream. Apart from getting error logs when the process exit normally it works fine.
https://github.com/coryodaniel/k8s/issues/153

[2022-05-05 15:18] ghost commented on #145
@ebengt Thank you for your reply. As I understand it, that requires an extra process that manages the stream and sends messages back to the parent process as side effects?

[2022-05-06 06:39] ebengt commented on #145
Yes, that is correct. I also link to the extra process so that I know when it exits. That way I can restart it when needed.
You will see error logs when it exits, but it is easier to have the program do the restart.

[2022-05-06 10:36] ghost commented on #145
@ebengt Thank you so much for sharing your experience! This is very valuable!

@mruoss Once I figure out how to use the k8s library properly, would you be open to a documentation patch bringing together bits of advice from issues?

[2022-05-09 12:48] ghost commented on #145
I've spent more time reading the code and there's something that bothers me. From what I can see, and as @mruoss mentioned, get operations are converted to list operations, but the resource version is extracted from a get operation before that conversion happens. So if I'm not mistaking we provide to the list request a resource version which is in fact the resource version of an object. As I under

[2022-05-09 13:13] amarandon commented on #145
I've created separate issues to address the problems discussed here: #581 #582 #583

[2022-05-10 12:20] mruoss commented on #145
Okay I think I have an idea of what could be the issue at hand. Indeed, resource collections have different resource versions than resources. I might have been still confused about this when I wrote the `watch_and_stream` functionality. I had a very quick look at the code of the Stream resource functionality where I keep track of the collection's resource version (initially received from the list

[2022-05-10 15:57] ghost commented on #145
@mruoss Thank you so much for taking the time to reply despite being very busy! Now that you've confirmed that there might indeed be an issue, we'll work on it with more confidence on our end and hopefully come up with a PR.

[2022-05-12 20:27] mruoss commented on #145
I took a go at this in #159. Does somebody care to test?

[2022-05-13 07:36] ebengt commented on #145
Greetings,

This correction is for watch_and_stream/3, right?
I have no code that trigger an error there.
My problem was with watch/3

[2022-05-13 10:08] ghost commented on #145
@mruoss Sorry it seems there was a bit of misunderstanding, similarly to @ebengt I had the issue with `watch`. Following advice given here we've now switched to using `watch_and_stream` and it doesn't seem to trigger the error so far. I'm letting it run over the weekend to see how it goes. Even if I don't get the error with the current release then I can test your changes at least to validate that

[2022-05-13 12:07] mruoss commented on #145
Oh I see. Now I understand.

[2022-05-15 12:42] mruoss commented on #145
#160 should address the problem with `watch/3`. Note that you can workaround this problem by getting the resource version of the resource collection yourself and pass it to `watch/4`.

[2022-05-15 12:48] #145 closed, assigned to nobody

[2022-05-16 15:39] krisalyssa opened #162 "Auth provider for Azure?"
Before I dive down the rabbit hole of implementing my own auth provider, has anyone gotten the `k8s` library working with Azure AKS?

The problem I'm encountering trying to use `k8s` out of the box is that the user config in `~/.kube/config` looks like it should be handled by the standard `AuthProvider` module, but it contains a different set of keys.

[code]

None of the keys in the destructuring

[2022-05-19 10:23] ghost commented on #145
I've tested our code based on `watch/3` against the develop branch of this library and I can confirm that it solves the issue, no more _"too old resource version"_!

Our branch based on `watch_and_stream` has been in production with the latest release of this library (so without your latest changes) for a week and it's working well so far.

[2022-05-19 10:58] mruoss commented on #145
Thanks for testing. I have seen "too old resource version" on `watch_and_stream` on my end. Hence the patch.
Will make a release as soon as I get to it.

[2022-05-19 14:25] mruoss commented on #162
`AuthProvider` is an unfortunate name choice. You are looking for an OIDCAuthProvider which has not been implemented yet.

[2022-05-19 18:05] krisalyssa commented on #162
Has there been any work done towards this? I may be able to contribute if so.

[2022-06-02 00:16] jvantuyl commented on #48
I've started work on a PR for this and it's been a bit tough.  Challenges include:
* Response handling basically assumes HTTPPoison structurally, making it hard to make a solution that will work generically (like the one for requests).
* Ordering isn't exactly clear between request and response chains (i.e. Should we walk response middleware backwards or must they be listed backwards in order to g

[2022-06-07 14:07] mruoss commented on #162
Not that I know of. Also, OIDC SSO only works in an interactive mode because at some point, a browser has to be opened.

[2022-06-28 11:07] Hanspagh commented on #162
Hi @CraigCottingham
I wrote this provider you can use, it works for experimental work, but I hacked it together quite fast looking at the python implementation, so there is properly still a bunch of improvements to be made

@mruoss Would you be interested in having this somewhere in the repo?

[code]

[2022-06-30 12:58] ebengt opened #165 "Question: How to get a Custom Resource?"
[code]
gives error:
',{{badmatch,{error,#{'__exception__' => true,'__struct__' => 'Elixir.K8s.Di │
│ scovery.Error',message => <<"Unsupported Kubernetes resource: customresource │
│ ">>}}},

I have switched from `:customresource` to the kind and then I get error:
%K8s.Client.APIError{
   message: "configs.config.travelping.net \"sample\" is forbidden: User \"system:serviceaccount:dev:cdf\" cannot

[2022-06-30 14:34] #165 closed, assigned to nobody

[2022-06-30 16:55] krisalyssa commented on #162
@Hanspagh Thank you for this! I'm incorporating it into my code now, to make sure that it works.

One question: The check for if the token has expired (`if parse_expires(expires_on) > DateTime.utc_now() do`) has the comparison reversed, doesn't it? If `now` is *greater than* the `expires_on` value, the token has expired. Unless I'm just getting it backward in my head?

I'm making some other relati

[2022-07-06 15:01] Hanspagh commented on #162
@CraigCottingham, I think you got it completely right, it should be inverted, comparisons are hard :D.

Again, this was just hacked together to see if it would work, to be "feature" complete with the python implementation we should also write the refreshed token back into the config.

[2022-07-07 11:23] ebengt opened #166 "Question: Is there an example of Client.patch/4 available?"
Greetings,
I have a custom resource that I can do get/3 with.
I am trying to do patch/2, and get {:ok, %{}} back.
The custom resource does not change.

Should custom resource change when I use patch/4?
What should I put in the the subresource map?
Currently I have random:  %{"kalle" => 123}

[2022-07-07 13:29] mruoss commented on #166
Hey, there is now also [`Client.apply/2`](https://hexdocs.pm/k8s/K8s.Client.html#apply/2) since 1.1.0. I think it is the most suitable function in most cases and probably does what you want.
If you want to use patch, get familiar with the kubernetes patch operation.

[2022-07-07 14:15] ebengt commented on #166
Thank you very much for the prompt answer.

The suggested alternative, Client.apply/2, has the option: fieldManager: "my-operator"
Does that mean I need an operator before using  Client.apply/2?

The subresourcemap is the whole resource map, plus my addition? Is that always so? Or only for  Client.apply/2

[2022-07-07 16:22] mruoss commented on #166
No you don't. You can pass any binary or just ommit the options. The fieldManager will default to "Elixir". Refer to the Kubernetes documentation for server-side apply if you want to understand the concept.

Do you want to change a subresource? Or just the resource? If you want to change the resource, just pass the altered resource to `Client.apply/1`

[2022-07-08 06:56] ebengt commented on #166
When fieldManager: is optional, the best method to change my custom resource seems to be Client.apply/2. I will concentrate on that.

My custom resource, cr, has several keys. My plan is to put something(*) into it. End result: Map.put(cr, "status" %{"message" => "some message"})
In my mind I am changing a subresource, since it is a part of the resource. But Kubernetes/K8s might mean something els

[2022-07-08 08:23] mruoss commented on #166
Please use code formatting in your messages, thanks.

Not any field is a subresource, but `status` actually is (see https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#subresources). This means you have to patch the subresource using  [`Client.apply/5`](https://hexdocs.pm/k8s/K8s.Client.html#apply/5). I think you have to use the plural version of your r

[2022-07-08 09:03] ebengt commented on #166
Thank you very much. I have updated with code formatting.
I will try your kind suggestions.

Only changing kind to `Configs/status` adds an empty status to the custom resource.
Next I will add `message` to status in CRD.

Follow-up question to status as subresource. There is
[code]
But there is also another status
[code]
If I change this other status, then I am not changing a subresource. Correct?

[2022-07-11 13:37] mruoss commented on #166
Please refer to the kubernetes documentation for these kind of questions. You should find your answers there.

[2022-07-11 14:48] ebengt commented on #166
I could not understand the Kubernetes documentation (ie it does not mention the second status).
But it is not a K8s question.
The original K8s question is responded properly.
I will use Client.apply/5, with kind set to custom resource plural + /status for patching and full resource as 4:th argument.

[2022-07-11 14:48] #166 closed, assigned to nobody

[2022-07-18 21:34] aleDsz commented on #29
Hey, any news about this feature? Would be awesome to use this feature to execute some code inside a pod using Elixir.

[2022-08-03 17:24] icehaunter opened #172 "Source links in the documentation are incorrect"
On https://hexdocs.pm/k8s/ all the links to function/module source code look like they've been incorrectly generated, e.g. in the https://hexdocs.pm/k8s/K8s.Client.html the link to the module reads `https://github.com/coryodaniel/k8s/blob/1.1.5//Users/mruoss/src/ufg/community/k8s/lib/k8s/client.ex#L1` when it should `https://github.com/coryodaniel/k8s/blob/1.1.5/k8s/lib/k8s/client.ex#L1`

I believ

[2022-08-03 18:02] mruoss commented on #172
Yes! I have noticed some time ago and was like _I need to fix this ASAP_. But I have been a bit short on _P_ so I forgot. If anybody knows what's wrong, please let me know, otherwise I am gonna investigate ASAP!

[2022-08-04 09:29] icehaunter commented on #172
Checked out code and ran `mix deps.get && mix docs` -- it generated correct links. No idea how they could've been generated incorrectly in the first place, I cannot find a relevant setting at all.

My machine is on Arch Linux tho, not on MacOS (judging by the path format)

[2022-08-04 14:27] mruoss commented on #172
Tried it again on my MacOS - no luck. So I used my Linux machine to republish the docs. Should be fixed now.

I'd still be intersted to know why that did not work on MacOS but don't have the time to investigate further right now...

[2022-08-04 14:27] #172 closed, assigned to nobody